@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;  
  background-color: rgb(10, 182, 153);
}

.pagination ul{
  display: flex;
  background-color: #fff;
  padding: 8px;
  border-radius: 50px;
}

.pagination ul li{
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s easy;
  color: rgb(10, 182, 153);
}

.pagination ul li.numb{
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 0 3px;
}

.pagination ul li.dots{
  font-size: 22px;
  cursor: default;
}

.pagination ul li.btn{
  padding: 0 20px;
}

.pagination ul li.prev{
border-radius: 25px 5px 5px 25px;
}

.pagination ul li.next{
border-radius: 5px 25px 25px 5px;
}

.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover{
  background-color: rgb(1, 158, 150);
  color: #fff;
}

.fa-angle-left {
  margin-right: 5px;
}
.fa-angle-right {
  margin-left: 5px;
}